/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* css vars */
:root {
    --header-height: 3rem;

    /* colours */
    /* main color */
    --hue-color: 217; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL colours */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /* main font */
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*weight*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*margin botom*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* large screen font size */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*dark theme colours*/
body.dark-theme{
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);;
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
 --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*night/light icon*/
.nav__btns{
  display: flex;
  align-items: center;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover{
  color: var(--first-color);
}

/*   */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*sections */
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/* main layout*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* dir */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.nav__logo, 
  .nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--first-color);
}


@media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--body-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: .3s;
    }
  }

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);

}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color-alt);
}

.nav__close:hover{
  color: var(--first-color-alt);
}


/* show menu */
.show-menu{
  bottom: 0;
}


/* Active link */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/* home */
.home__container{
  gap: 1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.5rem;
  color: var(--first-color);
}

.home__social-icon:hover{
  color: var(--first-color-alt);
}

.home__blob{
  background-color: var(--first-color);
  width: 200px;
  fill: var(--first-color);
}

.home__blob-img{
  background-color: var(--first-color);
  position: relative;
  border-radius: 3.5rem;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.home__data{
  grid-column: 1/3;
}

.home__title{
  font-size: var(--big-font-size);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}

.home__scroll{
  /* display: none; */
}

.home__scroll-button{
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover{
  transform: translateY(.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;

}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}


/* buttons */
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}


/* about */

.about__img{
  position: relative;
  width: 100px;
  border-radius: .8rem;
  justify-self: center;
  align-self: center;
}



.about__description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
  
}

.about__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);

}



.about__info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}


.about__info-name{
  font-size: var(--smaller-font-size);

}


.about__info-title,
.about__info-name{
  display: block;
  text-align: center;

}


.about__buttons{
  display: none;
  justify-content: center;
}


/* featured projects */

.proj-post:nth-child(even){
  flex-direction: row-reverse;
}

.proj-post:nth-child(even) .proj-post__img{
  transform: translateX(7rem);;
}

.proj-post{
  height: 17rem;
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: var(--body-color);
  box-shadow: 0 1.4rem 8rem	rgba(87, 140, 224, .4); 	
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.proj-post__img{
  width: 75rem;
  transform: translateX(-7rem);
  position: relative;
}

.proj-post__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.proj-post__img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(67, 119, 203, .2), rgba(67, 119, 203, .5));
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
  border-radius: .8rem;
}


.proj-post__title{
  font-size: var(--h3-font-size);
  margin: 1rem 0 1rem;
  text-transform: uppercase;
}

.proj-post__text{
  margin-bottom: 1rem;
}

.proj-post_cta{
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  color: #fff;
  background-color: var(--first-color-alt);
  border-radius: .8rem;
}

.proj__post-link{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}


.proj__link-icon{
  font-size: 1.6rem;
  color: var(--first-color);
}

.proj__link-icon:hover{
  color: var(--first-color-alt);
}

.portfolio .section__subtitle{
    margin-bottom: 6rem;
}

@media screen and (max-width: 1068px){
  .proj-post{
    max-width: 80rem;
    height: 100%;
  }
  
  .proj-post__img{
    max-width: 30rem;
    min-width: 30rem;
  }

}

@media screen and (max-width: 868px){
  .proj-post{
    max-width: 70rem;
    height: 100%;
  }
  
}


@media screen and (max-width: 768px){

  .proj-post:nth-child(even){
    padding: 2.5rem;
    flex-direction: column;
    height: 100%;
   
  }
  
  .proj-post:nth-child(even) .proj-post__img{
    max-width: 100%;
    min-width: 100%;
    transform: translate(0, -5rem);;
  }


  .proj-post{
    padding: 2.5rem;
    flex-direction: column;
    height: 100%;
  }
  
  .proj-post__img{
    max-width: 100%;
    min-width: 100%;
    transform: translate(0, -5rem);
  }


}




/* projects */
.portfolio__container{
  overflow: initial;
  margin-bottom: 2rem;
}

.portfolio__content{
  padding: 0 2rem;
}

.portfolio__img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio__description{
  margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon{
  transform: translateX(.25rem);
}

.swiper-button-prev::after, 
.swiper-button-next::after{
  content: '';
}

.swiper-portfolio-icon{
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev{
  left: -.5rem;
}

.swiper-button-next{
  right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: -4rem;
}

.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

.swiper-button-prev, 
.swiper-button-next,
.swiper-pagination-bullet{
  outline: none;
}

/* contact */
.contact__container{
  row-gap: 3rem;
  align-items: center;
}

.contact__information{
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

#subcontact{
  margin: 32px;
}
.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}
.contact__input{
  width: 100%;
  background-color: var(--input-color);
  color: black;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

/*footer*/

.footer{
  padding-top: 2rem;
}

.footer__container{
  row-gap: 3.5rem;
}

.footer__bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover{
  color: var(--first-color-lighter);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-3);
}

.footer__title, 
.footer__subtitle, 
.footer__link,
.footer__social{
  color: #fff;
}

/* scroll up */

.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
}

.scrollup__icon{
  font-size: 1.5rem;
  color: #fff;
}

/* show scroll */

.show-scroll{
  bottom: 5rem;
}


/* scroll bar */
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-light);
}

/* different screen sizes  */

/* small devices */
@media screen and (max-width: 350px){
  .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
  }

  .nav__menu{
      padding: 2rem .25rem 4rem;
  }

  .nav__list{
      column-gap: 0;
  }

  .home__content{
      grid-template-columns: .25fr 3fr;
  }

  .home__blob{
      width: 180px;
  }
  .home__blob-img{
    width: 150px !important; 
}

  .project__img{
      width: 200px;
  }

}

@media screen and (max-width: 768px){
  .home__blob-img{
    width: 190px !important;
}
}



/* medium devices */
@media screen and (min-width: 568px){
  .home__content{
      grid-template-columns: max-content 1fr 1fr;
  }

  .home__data{
      grid-column: initial;
  }

  .home__img{
      order: 1;
      justify-self: center;
  }
  
  

  .about__container,
  .portfolio__content,
  .project__container,
  .contact__container,
  .footer__container{
      grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width: 768px){
  .container{
      margin-left: auto;
      margin-right: auto;
  }

  body{
      margin: 0;
  }

  .section{
      padding: 6rem 0 2rem;
  }

  .section__subtite{
      margin-bottom: 4rem;
  }

  .header{
      top: 0;
      bottom: initial;
  }

  .header,
  .main,
  .footer__container{
      padding: 0 1rem;
  }

  .nav{
      height: calc(var(--header-height) + 1.5rem);
      column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle{
      display: none;
  }

  .nav__list{
      display: flex;
      column-gap: 2rem;
  }

  .nav___menu{
      margin-left: auto;
  }

  .change-theme{
      margin: 0;
  }

  .home__container{
      row-gap: 5rem;
  }

  .home__content{
      padding-top: 5.5rem;
      column-gap: 2rem;
  }

  .home__blob{
      width: 270px;
  }

  .home__scroll{
      display: block;
  }

  .home__scroll-button{
      margin-left: 3rem;
  }

  .about__container{
      column-gap: 5rem;
  }

  .about__img{
      width: 350px;
  }

  .about__description{
      text-align: initial;
  }

  .about__info{
      justify-content: space-between;
  }

  .about__buttons{
      justify-content: initial;
  }

  .portfolio__img{
      width: 320px;
  }

  .portfolio__content{
      align-items: center;
  }

  .project{
      text-align: initial;
  }

  .project__bg{
      background: none;
  }

  .project__container{
      background-color: var(--first-color-second);
      border-radius: 1rem;
      padding: 3rem 2.5rem 0;
      grid-template-columns: 1fr max-content;
      column-gap: 3rem;
  }

  .project__data{
      padding-top: .8rem;
  }

  .footer__container{
      grid-template-columns: repeat(2, 1fr);
  }

  .footer__bg{
      padding: 3rem 0 3.5rem;
  }
  .footer__links{
      flex-direction: row;
      column-gap: 2rem;
  }

  .footer__socials{
      justify-self: flex-end;
  }

  .footer__copy{
      margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px){
  .header,
  .main,
  .footer__container{
      padding: 0;
  }

  .home__blob{
      width: 320px;
  }

  .home__social{
      transform: translateX(-6rem);
  }


  .portfolio__content{
      column-gap: 5rem;
  }

  .swiper-portfolio-icon{
      font-size: 3.5rem;
  }

  .swiper-button-prev{
      left: -3.5rem;
  }

  .swiper-button-next{
      right: -3.5rem;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets{
      bottom: -4.5rem;
  }

  .contact__form{
      width: 460px;
  }

  .contact__inputs{
      grid-template-columns: repeat(2, 1fr);
  }
}